[submodule ".registry"]
	path = .registry
	url = https://github.com/closekin/closekin.r-universe.dev
	branch = HEAD
[submodule "kinference"]
	path = kinference
	url = https://github.com/closekin/kinference
